body{
     
    height: 100vh; ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 50%;
    height: 200px;
    background-color: aqua;
    position: relative;
   

}

.child{
    width: 25%;
    height: 200px;
    background-color: aquamarine;
    position: absolute;


}

.child:nth-child(1){
    bottom: 100%;
    right: 100%;
    
}

.child:nth-child(2){
    bottom: 100%;
    left: 100%;
}

.child:nth-child(3){
    right: 100%;
    top:100%
}

.child:nth-child(4){
    left: 100%;
    top:100%
}